@font-family{
    font-family: Century Gothic;
	src: url("fonts/GOTHIC.ttf");
}
body{
    background-color: white;
	background-image: url("http://web.mta.info/mnr/gifs/mnrmap.png");
	background-repeat: no-repeat;
	background-position: center;
	font-family: Centruy Gothic, sans-serif;
}
.tabsul{
    text-decoration: none;
	list-style-type: none;
	text-align: center;
}
.disp{
    display: inline-block;
	background-color: #CCDDAA;
}
.navs{
    color: black;	
	padding: 0px;
	padding-left: 40px !important;
	padding-right: 40px !important;
	background-color: #chartreuse;
	font-size: 35px;
}
.navs:hover{
    background-color: red;
	color: white;
}
h1{
    font-size: 60px;
	text-align: center;
}
h2{
    font-size: 45px;
	text-align: center;
}
h3{
    font-size: 30px;
	text-align: center;
}
p{
    font-size: 24px;
}
li{
    font-size: 24px;
}
a{
    text-decoration: none;
	font-size: 24px;
	color: black;
}
#left{
    width: 49.5%;
	background-color: #E68A00;
	float: left;
}
#right{
    width: 49.5%;
	background-color: #FFB733;
	float: right;
}
figcaption{
    font-size: 24px;
}
#homepage{
    background-color: white;
}
#about{
    background-color: chartreuse;
}
#gallery{
    background-color: orange;
}
#staff{
    background-color: yellow;
}
#rules{
    background-color: #00ADDF;
	color: white;
}
#misc{
    background-color: black;
	color: white;
}